BACKEND_URL="http://localhost:4000"
AGENT_TOKEN="tcp_agent_secret_token_2026"
PRINTER_NAME="TC-Main-Printer"
SUMATRA_PATH="C:\\Program Files\\SumatraPDF\\SumatraPDF.exe"
TEMP_DIR="./temp_spool"
USE_SIMULATION=true
